---
title: Viewing a customer's Self Assessment account information | Making Tax Digital for Income Tax service guide
weight: 17
description: How MTD-compatible software can retrieve information about a customer's Self Assessment account.
---

<%= partial 'documentation/partials/google_tag_manager_js' %>

<!--- Section owner: MTD Programme --->

# Viewing a customer's Self Assessment account information

The [Self Assessment Accounts API](/api-documentation/docs/api/service/self-assessment-accounts-api/) has a suite of endpoints that retrieve the customer’s payment, refunds, penalties and liability information. The data returned relates to the tax years since the customer joined Making Tax Digital for Income Tax. There may also be outstanding liabilities, payment, and penalties information a customer needs to view for the years before signing up to Making Tax Digital for Income Tax that can be viewed using the [HMRC online services]( /guides/income-tax-mtd-end-to-end-service-guide/documentation/tasks-outside-mtd-software.html#hmrc-online-services) account.

The endpoints allow the customer to complete the following tasks:

* view a list of MTD charges and their due dates
* view a list of MTD credits available for refund
* view the history of payments made to HMRC and how the money was used
* view the history of changes made to an individual charge
* view details of the penalties that have been applied to their account

A customer, at any time, can view a breakdown of their MTD liabilities for a given date range as well as any refunds available. In software, this is done by calling the [Retrieve Self Assessment Balance and Transactions](https://developer.service.hmrc.gov.uk/api-documentation/docs/api/service/self-assessment-accounts-api/3.0/oas/page#tag/Payments-and-Liabilities/paths/~1accounts~1self-assessment~1%7Bnino%7D~1balance-and-transactions/get) endpoint. Customer liabilities in the endpoint are broken down into overdue, currently due (payable), and pending (not yet due) amounts. Refunds in the endpoint are broken down into unallocated, allocated, total and available credit. 

<a href="figures/payments-and-liabilities-rsab.svg" target="blank"><img src="figures/payments-and-liabilities-rsab.svg" alt="Retrieve a Self Assessment Balance Transactions diagram" style="width:720px;" /></a>

<a href="figures/payments-and-liabilities-rsab.svg" target="blank">Open the Retrieve a Self Assessment Balance and Transactions diagram in a new tab</a>.

A customer, at any time, can view a history of their MTD payments for a given date range. In software, this is done by calling the [List Self Assessment Payments and Allocation Details](https://developer.service.hmrc.gov.uk/api-documentation/docs/api/service/self-assessment-accounts-api/3.0/oas/page#tag/Payments-and-Liabilities/paths/~1accounts~1self-assessment~1%7Bnino%7D~1payments-and-allocations/get) endpoint. The endpoint also retrieves details about how each payment was used by HMRC.

<a href="figures/payments-and-liabilities-lsat.svg" target="blank"><img src="figures/payments-and-liabilities-lsat.svg" alt="List Self Assessment Transactions diagram" style="width:720px;" /></a>

<a href="figures/payments-and-liabilities-lsat.svg" target="blank">Open the List Self Assessment Payments and Allocation Details diagram in a new tab</a>.

A customer, at any time, can view the history of changes made to an individual charge. In software, this is done by calling the [Retrieve History of a Self Assessment Charge](https://developer.service.hmrc.gov.uk/api-documentation/docs/api/service/self-assessment-accounts-api/3.0/oas/page#tag/Payments-and-Liabilities/paths/~1accounts~1self-assessment~1%7Bnino%7D~1charges~1%7BtransactionId%7D/get) endpoint.

<a href="figures/payments-and-liabilities-rsach.svg" target="blank"><img src="figures/payments-and-liabilities-rsach.svg" alt="Retrieve a Self Assessment Charge's History diagram" style="width:720px;" /></a>

<a href="figures/payments-and-liabilities-rsach.svg" target="blank">Open the Retrieve a Self Assessment Charge's History diagram in a new tab</a>.

## Penalties for late payment and late submission

The way that HMRC penalises late payments and late submissions is changing. For customers using Making Tax Digital for Income Tax, new penalties will replace the current late submission and late payment penalties that apply to personal tax returns. 

You can find information about the rules and thresholds that relate to late submission and payment penalties on [GOV.UK](https://www.gov.uk/guidance/penalties-for-making-tax-digital-for-income-tax).

### Retrieving penalty details

To retrieve a customer’s penalty details, software should use the [Retrieve ITSA Penalties](https://developer.service.hmrc.gov.uk/api-documentation/docs/api/service/self-assessment-accounts-api/4.0/oas/page#tag/ITSA-Penalties/paths/~1accounts~1self-assessment~1%7Bnino%7D~1penalties/get) endpoint in the Self Assessment Accounts API, 24 months worth of penalty information will be returned.

<a href="figures/retrieve-penalties.svg" target="blank"><img src="figures/retrieve-penalties.svg" alt="Retrieve a Penalty diagram" style="width:720px;" /></a>

<a href="figures/retrieve-penalties.svg" target="blank">Open the Retrieve a Penalty diagram in a new tab</a>. 

## Making a payment and claiming a refund

For an MTD Customer to make a payment they can still access the Self Assessment service via the [Pay your Self Assessment tax bill - Overview page on GOV.UK](https://www.gov.uk/pay-self-assessment-tax-bill).

To claim a refund, customers or their agents must access their HMRC online service and use the 'Request a Self Assessment Refund' service. Software can provide the following link for users to access these services - [HMRC online services: sign in or set up an account: Sign in or set up an account - GOV.UK](https://www.gov.uk/log-in-register-hmrc-online-services). Users will need to sign in with the User ID and Password they received when signing up for Making Tax Digital for Income Tax. 

When a refund has been requested, software will be able to show the amount the users have requested using the [Retrieve Self Assessment Balance and Transactions endpoint](https://developer.service.hmrc.gov.uk/api-documentation/docs/api/service/self-assessment-accounts-api/4.0/oas/page#tag/Payments-and-Liabilities/paths/~1accounts~1self-assessment~1%7Bnino%7D~1balance-and-transactions/get) and the `firstPendingAmountRequested` data item.

> Your feedback matters! Share your thoughts and help us improve. Click [here](https://survey.take-part-in-research.service.gov.uk/jfe/form/SV_1HNqtnocN4MeRme) to complete a survey.